version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  backend:
    image: sheglar/kittygram_backend
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - static:/static
      - media:/app/media
  
  frontend:
    image: sheglar/kittygram_frontend
    env_file: .env
    depends_on:
      backend:
        condition: service_started
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  
  gateway:
    image: sheglar/kittygram_gateway
    env_file: .env
    depends_on:
      backend:
        condition: service_started
      frontend:
        condition: service_started 
    ports:
      - 8080:80
    volumes:
      - static:/static
      - media:/app/media
