version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend/
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/static
      - media:/app/media

  frontend:
    env_file: .env
    build: ./frontend/
    depends_on:
      - backend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  gateway:
    env_file: .env
    build: ./nginx/
    depends_on:
      - frontend
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/app/media

