version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    env_file: .env
    depends_on:
      - postgres
    volumes:
      - static:/static
      - media:/app/media

  frontend:
    env_file: .env
    build: ./frontend/
    depends_on:
      - backend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static

  gateway:
    env_file: .env
    build: ./nginx/
    depends_on:
      - frontend
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/app/media

