version: '3'

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
  
  backend:
    image: sheglar/kittygram_backend
    env_file: .env
    depends_on:
      - db
    volumes:
      - static:/static
      - media:/app/media
  
  frontend:
    image: sheglar/kittygram_frontend
    env_file: .env
    depends_on:
      - backend
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  
  gateway:
    image: sheglar/kittygram_gateway
    env_file: .env
    depends_on:
      - frontend   
    ports:
      - 8080:80
    volumes:
      - static:/static
      - media:/app/media
